<div class="headerContainer" id="headerContainer">
  <h3>Calory Tracker</h3>
</div>
<div class="content">
  <div class="full">
    <div class="searchcont" id="searchBox">
      <p>Search</p>
      <input  #search type="search" name="" id="search" placeholder="Search" (keyup)="onSubmit()">
    </div>
    <div class="addbut"><input id="newFood" type="button" value="Add new food" (click)="display()" (click)="totalcalorie()">
    </div>
    <div [hidden]="bool">
      <div class="add">
        <form action="">
          <div class="name">
            <p>Name</p>
            <input type="text" #name  id="name" >
          </div><br>
          <div class="name" >
            <p>Calories</p>
            <input type="text" #calorie id="calories">
          </div><br>
          <div class="name">
            <p>Image</p>
            <input type="text" #image id="image">
          </div><br>
          <div class="sub">
            <input type="button" name="" id="" value="Add Food" (click)="display()"
              (click)="append(name.value,calorie.value,image.value)" (click)="totalcalorie()">
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="details" id="totalCalories">
    <i><h1>Today's&nbsp;Foods&nbsp;{{cal}}&nbsp;cal</h1></i><br>
    <div *ngFor="let i of data" class="totalfoods">
      <li style="margin-left: 30px;">{{i[0]}} {{i[1]}} x {{i[3]}}</li>
    </div>
  </div>
</div>
<div class="box" id="displayContainer">
  <div *ngFor="let i of data; let j=index"[attr.data-index]="j" class="listfoods">
    <div class="solo"  *ngIf="search.value==''">
      <img src={{i[2]}} alt="img">
      <input type="text" #c1 value="{{i[0]}}" hidden="true">
      <div class="fruit">
        <p>{{data[j][0]}}</p>
        <p>Calory - <span style="color: orangered;">{{i[1]}}</span></p>
        <div class="adding">
          <input #no type="number" name="" id="" placeholder="Add item">
          <input type="button" value="Add" class="but1" (click)="additems(no.value,c1.value)" (click)="totalcalorie()">
        </div>
      </div>
    </div>
    <div class="solo"  *ngIf="search.value==data[j][0]">
      <img src={{i[2]}} alt="img">
      <input type="text" #c1 value="{{i[0]}}" hidden="true">
      <div class="fruit">
        <p>{{data[j][0]}}</p>
        <p>Calory - <span style="color: orangered;">{{i[1]}}</span></p>
        <div class="adding">
          <input #no type="number" name="" id="" placeholder="Add item">
          <input type="button" value="Add" class="but1" (click)="additems(no.value,c1.value)" (click)="totalcalorie()">
        </div>
      </div>
    </div>
  </div>